<p>All</p>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form">

    <input class="input" type="text" ngModel name='course'>
    <a><button class="btn">Add courses</button></a>
  </div>
</form>
<ul *ngFor='let task of tasks'>
  <li>{{task.description}}</li>
  <li>{{task.isDone}}</li>
</ul>
